{% extends "base.html" %}
{% load bootstrap4 %}

{% block header %}
<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">Create Post</h1>
    </div>
</div>
{% endblock header %}

{% block content %}

<div class="container">
    

    <form action="{% url 'posts:create' %}" method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        {% bootstrap_form form %}

        <input type="submit" value='Create Post' class="btn btn-outline-primary">
    </form>
</div>

<script>var editor = new MediumEditor('.editable');</script>
{% endblock %}


